@import url(./normalize.css);
@import url(./reset.local.css);

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #ccc;
    margin: 1em;
}

a.continent {
    font-size: 1.1em;
    display: inline-block;
    margin: 0.5em;
    padding: 0.2em;
    border: 1px solid #ccc;
}
a.country {
    display: block;
    margin: 0.5em;
    border-bottom: 1px solid #888;
}
a.city {
    font-size: 0.9em;
    display: block;
    margin: 0.3em;
    padding: 0.1em;
    border-bottom: 1px dashed #ccc;
}

a span ~ .drop-down {
    display: none;
    position: absolute;
}
a span:hover ~ .drop-down {
    display: block;
    display: flex;
    flex-direction: column;
}
